.container {
    display: flex;
    flex-flow: column wrap-reverse;
    align-items: center;
    align-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    #noticia {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
    }
    }
main {
        display: flex;
        padding-bottom: 2rem;
        img {
        display:flex;
        justify-content: center;
        &:hover {
            box-shadow: 0 0.1rem 0.4rem rgb(248, 248, 248);
        }
    }
    }
article {
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        padding-top: 2rem;
        article p {
            text-align: center;
        }
    }
aside {
    display:flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-flow: column nowrap;
    aside p {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    }
}