* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'Special Elite', cursive; }

body {
  background-color: black;
  color: white;
  background: url(../assets/backg.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh; }

.container #noticia {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center; }

main img {
  display: flex;
  justify-content: center; }
  main img:hover {
    box-shadow: 0 0.1rem 0.4rem #f8f8f8; }

article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  article article p {
    text-align: center; }
  article .videos {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between; }

.header {
  background-color: transparent !important; }
  .header .navbar {
    background-color: transparent !important; }
    .header .navbar .Logo {
      width: 10rem;
      height: 9rem; }
      .header .navbar .Logo:hover {
        transform: scale(4);
        transition: all 2s; }

footer {
  display: flex;
  flex-flow: column wrap; }
  footer ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: space-between; }
